<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Rango</title>
		    <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
			<script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
	</head>
	<body>
		<h1>This is the ABOUT Page Template</h1>
		hello world! <strong>{{ boldmessage}}</strong><br />
		<!-- <a href="/rango/">Return to Home</a><br /> -->
		<a href="{{ home }}">Return to Home</a><br />
		<img src="{% static 'images/IMG_9434.jpg' %}" alt="Family Photo">
	</body>



</html>