{% extends 'base.html' %}

{% load staticfiles %}


 {% block title %}
	Hello
{% endblock %}
		
{% block body_block %}		
		{% if user.is_authenticated %}
			<h1>Rango Says...Hello {{ user.username }}</h1>
		{% else %}
			<h1>Rango Says....Hello!</h1>
		{% endif %}
		{% if categories %}
			<ul>
				{% for category in categories %}
				<li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
			
		{% if views %}
			The top 5 viewed categories
			<ul>
				{% for view in views %}
				<li><a href="{% url 'category' view.slug %}">{{ view.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories with views present.</strong>
		{% endif %}

{% endblock %}