{% extends 'base.html' %}

{% load staticfiles %}


 {% block title %}
	Hello
{% endblock %}
		
{% block body_block %}		
<div class="page-header">
                <h1>Home</h1>
            
			
		{% if user.is_authenticated %}
			<h1>Rango Says...Hello {{ user.username }}</h1>
		{% else %}
			<h1>Rango Says....Hello!</h1>
		{% endif %}
		</div>
		




		
	         <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
						  <div class="panel panel-primary">
    <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
    </div>
</div>
		{% if categories %}
			The Categories
			<ul class="list-group">
				{% for category in categories %}
				<li class="list-group-item"><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
			</div>
		
          <div class="col-xs-12 col-sm-6 placeholder">
			    <div class="panel panel-primary">
            <div class="panel-heading">
                    <h3 class="panel-title">Pages</h3>
            </div>
    </div>
		{% if views %}
			The top 5 viewed categories
			<ul class="list-group">
				{% for view in views %}
				<li class="list-group-item"><a href="{% url 'category' view.slug %}">{{ view.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories with views present.</strong>
		{% endif %}
		</div>
			</div>
		You have visited this page - {{visits}} times
{% endblock %}
